@import url(color);
@import url(width-height);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: ;
}

/* root di skip **/

html {
  font-size: 62%;
  overflow-x: hidden;
}

body {
  background-image: url(rectangle-43.png);
}

.header {
  position: left;

  left: 555px;

  padding:1rem 9% ;
  display: block;
  justify-content:space-between ;

  z-index:100 ;

}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;

}

.navbar a {
  font-size: 1.7rem;
  color: burlywood;
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: aqua;
}
  


