/*hero*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/tugas\ akhir\ semester/foto/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}
